<div class="container">

  <header>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

    body {
      background-color: white;
    }

    .page-info {
      text-align: center;
    }

     .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    }

    .content {
      width: 100%;
    }

    h1 {
      font-family: "Playfair Display", sans-serif;
    }

    h2 {
      font-family: "Playfair Display", sans-serif;
      border-bottom: none;
      line-height: 12px;
    }

    /* unvisited link */
    a:link {
      color: black;
      font-weight: bold;
      text-decoration: none;
    }

    /* visited link */
    a:visited {
      color: black;
      font-weight: bold;
      text-decoration: none;
    }

    /* mouse over link */
    a:hover {
      color: red;
      font-weight: bold;
      text-decoration: none;
    }

    /* selected link */
    a:active {
      color: black;
      font-weight: bold;
      text-decoration: none;
    }

    </style>
  </header>

    <div class="col-md-8 col-md-offset-2">

      <div class="page-info">
        <h1>95 Sandwiches Ranked</h1><BR>
      </div>
        
        <div class="content">

    <p>See more: <a href="/all">95 Sandwiches Ranked</a>, <a href="/Cosi">Cosi</a>, <a href="/Lenwich">Lenwich</a>, <a href="/Panera">Panera</a>, <a href="/Potbelly">Potbelly</a>, <a href="/Pret_a_Manger">Pret a Manger</a><BR>

      <% ranked_food = @full_list.sort_by {|item| item.calories} %>


        <ul>
          <% ranked_food.each do |item| %>
            <li><%= item.calories %>, <%= item.title %>, <%= item.restaurant.name %></li>

          <% end %>
        </ul><BR>

      </div>

  </div>

</div>